/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
/app/config/database.php
/.idea
/app/config/rate.php
/app/config/announcements.php
/app/config/dev
*.log
/_ide_helper*
/public/uploads/user-photos
