#world_map {
	position:relative;
	width:80%;
	height:500px;
}
/*
#world_map svg{
	position:absolute;
	left:0;
	top:0;
	z-index:1;
}
#world_map circle{
	z-index:2;
	position:relative;
}
#world_map path{
	z-index:1;
	position:relative;
}
*/
#world_map .pop_up_info{
	background:rgba(255, 255, 255, 0.8);
	width:250px;
	color: #474747;
	position:absolute;
}
#world_map .pop_up_info .user{
	color: #474747;
font-size: 13px;
padding: 6px 4px;
border-top: 1px solid #fff;
position: relative;
}
#world_map .pop_up_info .user:hover{
	border-left: 4px solid #1e8bc3!important;
	background:rgba(255, 255, 255, 0.4);
}
.sub_user{
background: rgba(255, 255, 255, 0.8);
width: 255px;
padding: 10px;
/* height: 150px; */
color: white;
}
.user .sub_user{
	display:none;
	top:0;
	left:250px;
	position:absolute;
}
.user:hover .sub_user{display:block}
.triangle{
content: "";
width: 9px;
height: 0;
border-style: solid;
border-width: 8px 0 9px 9px;
border-color: transparent transparent transparent rgba(255,255,255,0.6);
position: relative;
left: -19px;
float:left;
}
#world_map .pop_up_info .user:hover .sub_user{
	display:block;
}
.sub_user .photo img{
	max-height: 130px;
width: auto;
height: auto;
max-width: 90px;
}
.sub_user .photo {
	width:100px;
	float:left;
}
.sub_user .name {
	width:120px;
	float:left;
	color:#1e8bc3;
}
.sub_user .name b{
	color:#474747;
}
.user_info{
	padding:10px 0 0;
	font-size:10px;
	color:#777;
}
.clear{
	clear:both;
}

.social_link {
    margin-right: 10px;
}
.online{
	position: relative;
	left:5px;
	color:#fff;
	font-size: 8px;
	background-color: green;
	padding: 2px;
	letter-spacing: 1px;
}
circle{
	stroke:#123456;
	stroke-width:1px;
}
.amcharts-balloon-div .sub_user {
background-color: rgba(0, 0, 0, 0);
}
