#world_map {
	position:relative;
	width:900px;
	height:600px;
}
#world_map svg{
	position:absolute;
	left:0;
	top:0;
	z-index:1;
}
#world_map circle{
	z-index:2;
	position:relative;
}
#world_map path{
	z-index:1;
	position:relative;
}
#world_map .pop_up_info{
	position:absolute;
	left:0;
	top:0;
	z-index:2;
	background:rgba(90, 90, 90, 0.8);
	width:200px;
	opacity:0;
	
}
#world_map .pop_up_info .user{
	color: #fff;
font-size: 12px;
padding: 4px;
border-bottom: 1px solid #D3D3D3;
position: relative;}
#world_map .pop_up_info .user:hover{
	color:#FA503A;
}
.sub_user{
	position: absolute;
left: 200px;
top: -3px;
background: rgba(90, 90, 90, 0.8);
width: 240px;
padding: 10px;
display: none;
z-index: 2;
height: 150px;
color: white;
}
#world_map .pop_up_info .user:hover .sub_user{
	display:block;
}
.sub_user .photo img{
	max-height: 90px;
width: auto;
height: auto;
max-width: 90px;
}
.sub_user .photo {
	width:100px;
	float:left;
}
.sub_user .name {
	width:120px;
	float:left;
	color:#fff;
}
.sub_user .name b{
	color:#FA503A;
}
.user_info{
	padding:10px 0 0;
	font-size:10px;
	color:#fff;
}
.clear{
	clear:both;
}