.content {
    margin-top: 100px;
}
table {
    border: 1px solid black;
    border-spacing: inherit;
    border-collapse: collapse;
    margin: 0 auto;
    width: 580px;
}
td {
    border: 1px solid black;
}
.map-region .map {
    width: 75%;
}
.map-region .info {
    width: 25%;
    background: #445965;
    padding-top: 120px;
    height: 697px;
    color: #fff;
    text-shadow: 5px 5px 20px #1B1B1B;
}
header {
    background: #666666;
    color: #fff;
    padding: 18px 0;
}
.map-region > div > div {
    display: inline-block;
    float: left;
}
.map-region .map img {
    width: 100%;
}
.map-region {
    background: #4D4D4D;
}
.map-region .info .number, .map-region .info .label {
    font-size: 60px;
    font-weight: normal;
}
.map-region .info .label {
    font-size: 16px;
}
.map-region .container-fluid {
    padding: 0;
}

.map-region .container-fluid .info .inside {
    width: 220px;
    margin: 0 auto;
}

.map-region .container-fluid .info .inside .label {
    padding: 0;
}
section.content-region .videos .container .text h1 {
    color: #1E8BC3;
}
section.content-region .videos .container .text {
    color: #666;
}

section.content-region .videos .container .text,section.content-region .container .row.videos .video-list {
    width: 460px;
    display: inline-block;
    float: left;
    margin-right: 20px;
}

section.videos {
    background: #f2f2f2;
    min-height: 490px;
}

section.content-region .container {
    padding: 0 120px;
}

section.content-region .video-list,section.content-region .text {
    padding: 40px 0;
}
header .login-form input {
    padding: 2px 15px 0px;
    width: 138px;
    border: 1px solid #E6E6E6;
    background: #666;
    color: #E6E6E6;
    font-size: 12px;
}

header .login-form input[type=submit],header .register input[type=submit] {
    background: #1E8BC3;
    border: 0;
    height: 21px;
    margin-left: 16px;
    width: 46px;
    padding: 0;
    position: relative;
    color: #fff;
    top: -1px;
    font-size: 12px;
}
header .login-form input[name=email] {
    margin-right: 16px;
}

header .login-form,header .register {
    display: inline-block;
    float: left;
}

header .login-form {
    margin-right: 30px;
}
select.language-picker {
    background: #666;
    width: 100px;
    padding-left: 12px;
    border: 1px solid #E6E6E6;
}

.clmn {
    display: inline-block;
    float: left;
}

section.content-region .columns .container .clmn {
    width: 300px;
    height: 220px;
    padding: 20px;
    text-align: justify;
    color: #4D4D4D;
}

section.content-region .columns .container .clmn .title {
    text-align: center;
    font-size: 18px;
    color: #1E8BC3;
    margin-bottom: 8px;
}
section.content-region .partners .title {
    font-size: 18px;
    color: #1E8BC3;
    position: relative;
    text-align: center;
    margin-bottom: 35px;
}
section.content-region .partners .title:after {
    border-top: 1px solid #1E8BC3;
    height: 1px;
    width: 100%;
    display: block;
    content: '';
    position: absolute;
    top: 12px;
}
section.content-region .partners .title span {
    z-index: 1;
    position: relative;
    background: #fff;
    padding: 0 20px;
}

section.content-region .partners .list .logo {
    width: 140px;
    height: 90px;
    display: inline-block;
    float: left;
    margin-right: 20px;
}
section.content-region .partners .list .logo img {
    max-width: 140px;
    max-height: 90px;
}
footer {
    background: #1E8BC3;
    color: #fff;
    font-size: 13px;
}
footer .footer .columns .clmn {
    width: 218px;
    text-align: justify;
    margin-right: 20px;
    padding: 12px;
}

footer .footer .columns .clmn .title {
    font-size: 18px;
    margin-bottom: 15px;
}
footer .container {
    padding: 25px 120px;
}
footer a {
    color: #fff;
}

footer ul {
    padding: 0;
    padding-left: 16px;
    list-style: none;
}

footer ul li:before {
    content: '>';
    margin-left: -15px;
    padding-right: 8px;
}
footer .footer .columns .clmn .social img {
    margin-right: 4px;
    margin-bottom: 20px;
}

footer .footer .columns .clmn .copyright {
    text-align: left;
}
.register-form {
    position: absolute;
    bottom: -65px;
    background: #fff;
    padding: 20px 10px;
    width: 230px;
    display: none;
    z-index: 100;
}

.register {
    position: relative;
}

header .register input {
    background: #fff;
    color: #000;
    border: 1px solid black;
    width: 150px;
}

header .register input[type=submit] {
    margin-left: 10px;
}
iframe.video {
    display: none;
}
iframe.video_1 {
    display: block;
}

.video-list {
    width: 460px;
    display: inline-block;
}

section.content-region .video-list .thumbnails img {
    margin-right: 50px;
    margin-top: 20px;
    cursor: pointer;
    display: inline-block;
    float: left;
    width: 120px;
    height: 90px;
}

section.content-region .video-list .thumbnails img:last-child {
    margin-right: 0;
}
.thumbnails {
    overflow: hidden;
}

.videos {
    height: 300px;
}
