.page-quick-sidebar-over-content {
	overflow-x: hidden;
}
.content {
    margin-top: 100px;
}
table {
    border: 1px solid black;
    border-spacing: inherit;
    border-collapse: collapse;
    margin: 0 auto;
    width: 580px;
}
td {
    border: 1px solid black;
}
.map-region .map {
    /* width: 75%; */
}
.map-region .info {
    width: 20%;
background: rgba(255, 255, 255, 0.3);
padding-top: 60px;
height: 500px;
color: #fff;
text-shadow: 0px 0px 5px #FFFFFF;
}
.front-page-wrapper {
	position:relative;
}
.sidebar-menu {
	position:absolute;
	width:100%;
	left:0px;/*left:-300px*/
	top:-80px;
	background: #005383;
	transition: 0.256s all ease-in-out;
	z-index: -1;
	line-height: 20px;
	z-index: 1;
}
.sidebar-menu.active {
	top:0px;
	transition: 0.256s all ease-in-out;
	z-index: 1;
}
.sidebar-elements {
	margin:0 0 0 40px;
	padding:0;
	list-style-type: none;
	
}
.sidebar-elements li {
	float:left;
	padding:10px 10px 9px;
	border-left:1px solid #136999;
}
.sidebar-elements li:last-child {
	border-right:1px solid #136999;
	
}
.sidebar-elements li:hover {
	background: #086193;
}
.sidebar-elements li a {
	color:#fff;
	font-family: "Open Sans", sans-serif;
	font-size:14px;
}
.sidebar-elements li img {
	margin:0 10px 2px 0;
	
}
header {
    background: #fff;
    color: #666;
    padding: 13px 0; 
    box-shadow: 0px 0px 20px rgba(0,0,0,0.15);
		z-index: 3;
}
header .logo-wrapper {
	position: relative;
	line-height: 33px;
}

header .blurry {
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 10px, rgba(255, 255, 255, 0));
    background: -o-linear-gradient(right, rgba(255, 255, 255, 1) 10px, rgba(255, 255, 255, 0));
    background: -moz-linear-gradient(right, rgba(255, 255, 255, 1) 10px, rgba(255, 255, 255, 0));
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 10px, rgba(255, 255, 255, 0));
}

.logo-wrapper {
	width:auto;/*300px;*/
}
.logo-wrapper + .announce {
	padding:0px;
	height:34px;
	line-height: 34px;
	max-width:960px;
}
.logo-wrapper .header-logo {
	width:100%;
	text-align: center;
}
.logo-wrapper .header-logo + .blurry {
	width:30px;
	height:100%;
	position:absolute;  
	left:235px;
	top:0;
	z-index: 99;
}
.logo-wrapper .sidebar-menu-button {
	height:30px;
	width:30px;
	border:1px solid #d8d8d8;
	margin:3px 25px 0px;/* 2px 10px 0px 30px; */
	cursor:pointer;
}
.logo-wrapper .sidebar-menu-button.active {
	border:1px solid #086193;
}
.logo-wrapper .sidebar-menu-button span,
.logo-wrapper .sidebar-menu-button div {
	width: 20px;
  height: 3px;
  background: #9e9e9e;
  display: block;
  margin: 5px auto 0px;
  border-radius:2px !important;
}
.logo-wrapper .sidebar-menu-button.active span,
.logo-wrapper .sidebar-menu-button.active div {
	background:#086193;
}
.map-region > div > div {
    display: inline-block;
    float: left;
}
.map-region .map img {
    width: 100%;
}
.map-region {
    background: #b0b0b0;
/*     height: 500px; */
}
.map-region .info .number, .map-region .info .label {
    font-weight: 100;
	line-height: 55px;
	padding: 10px;
	position: relative;
	overflow: hidden;
	border-bottom: 1px solid #ccc;
	padding-bottom: 0;
}
.registered .number{
	border-bottom: 1px solid;
}
.map-region .info .label {
    font-size: 16px;
}
.map-region .container-fluid {
    padding: 0;
    background: #cdcdcd url("../images/map-bg2.png") repeat-x 100% 0;
    /* background-color: #fafafa; */
    background-size:contain;
}

.map-region .container-fluid .info .inside {
    width: 220px;
    margin: 0 auto;
}

.map-region .container-fluid .info .inside .label {
    padding: 0;
    position: relative;
    left: 40px;
}
section.content-region section.videos {
	padding:40px 0px;
	border-bottom:1px solid #eee;
	background: transparent url("../images/background-video.png") repeat top left;
	/* background-size: contain; */
}

section.content-region .videos .container .text {
    color: #474747;
    font-family: "Roboto", sans-serif;
}

section.content-region .videos .container .text,section.content-region .container .row.videos .video-list {
    width: 440px;
    display: inline-block;
    float: left;
    margin-right: 20px;
}
section.content-region .videos .container .text,
section.content-region .videos .container .video-list {
	width:100%;
	margin-right:0%;
}
section.content-region .videos .container .video-list {
	margin:0px 0px 0px 0%;
}
section.content-region .videos .container .video-list .overlay {
	position:absolute;
}
section.content-region .videos .container .text h1 {
	font-weight: 300;
	font-size: 30px;
	margin-bottom:30px;
	color: #474747;
	margin-top: 0px;
}
section.content-region .videos .container .text .body {
	font-size:14px;
	line-height: 20px;
	font-weight: 300;
}
section.content-region .videos iframe {
	width:100%;
}
section.content-region {
background: #e5e5e5;
/* padding-top: 40px; */
}

/*
section.videos .container .row{
	background-color: #fff;
	padding: 20px;
}
*/
section.content-region .container {
    padding: 0 120px;
}

section.content-region .video-list {
/*     padding: 20px 0; */
    font-size: 12px;
}

section.site-information {
	padding:0;
	background:#fff;
	border-bottom:1px solid #eeeeee;
	font-size:12px;
}

.site-information-text {
    margin-top: -4px;
}

.site-information-text .col {
    width: 100%;
    border-top: 4px solid #ff711a;
    padding: 20px 30px;
    position: relative;
}

section.site-information .col:nth-child(2) {
	margin:0 2%;
}

section.site-information .col img {
/*
	position:absolute;
	bottom:0;
*/
	float:left;
}
section.site-information .col .text {
	text-align: right;
	color:#05478a;
	font-family: "Open Sans" , sans-serif;
	font-weight: 300;
	padding-bottom:10px;
}
section.site-information .col .text .info {
	font-size:1.333em;
}
section.site-information .col .text .number {
	font-size:2.833em;
}
header .login-form input {
    padding: 2px 15px 0px;
    width: 180px;
    border: 1px solid #E6E6E6;
    color: #3a464c;
    font-size: 12px;
}

header .login-form input[type=submit],header .register input[type=submit], header .register-form input[type=submit]{
  background: #1E8BC3;
	border: 0;
	height: 33px;
	margin-left: 16px;
	width: auto;
	padding: 0px 10px;
	position: relative;
	color: #fff;
	top: 0px;
	font-size: 12px;
	font-family: "Roboto";
	font-weight: 100;
}
header .login-form input[type=submit]:hover {
	color:#fff;
	background: #1E8BC3;
}
header .login-form .register-button input[type=submit] {
	background: #333;
	margin-right:10px;
}
header .login-form input[name=email] {
    margin-right: 16px;
}

header .login-form,header .register {
    display: inline-block;
    float: left;
    clear: both;
}

select.language-picker {
    background: #666;
    width: 100px;
    padding-left: 12px;
    border: 1px solid #E6E6E6;
    position: relative;
}

section.content-region .columns .container .col {
	text-align: justify;
	color: #474747;	
}
section.content-region .columns .container .col .text {
	color:#404040;
	font-family: "Open Sans", sans-serif;
	line-height: 20px;
	font-size:12px;
}
section.content-region .columns .container .col .title {
  text-align: left;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  margin-bottom: 30px;
  color:#05478a;   
}
section.content-region .columns .container .col .more-info {
	margin-top:20px;
}
section.content-region .columns .container .col .news {
	margin-bottom:20px;
	text-align: left;
}
section.content-region .columns .container .col .news:last-child {
	margin:0;
}
section.content-region .columns .container .col .news .date {
	margin-right:10px;
	color:#777;
}
section.content-region .columns .container .col .news .date .news-link {
	color:#0973aa;
}
section.content-region .partners .title {
  font-size: 20px;
  color: #5e5e5e;
  position: relative;
  text-align: center;
  margin-bottom: 20px;
  font-family: "Open Sans", sans-serif;
}
/*
section.content-region .partners .title:after {
    border-top: 1px solid #1E8BC3;
    height: 1px;
    width: 100%;
    display: block;
    content: '';
    position: absolute;
    top: 12px;
}
section.content-region .partners .title span {
    z-index: 1;
    position: relative;
    background: #E5E5E5;
    padding: 0 20px;
}
*/

section.content-region .partners .list .logo {
    width: 140px;
    display: inline-block;
    float: left;
    margin-right: 20px;
}
section.content-region .partners .list .logo img {
    max-width: 140px;
    max-height: 90px;
    border:1px solid #d8d8d8;
}
section.partners {
	background:#e6eff5;
	padding:20px 0px 50px;
	display: none;
}
footer {
    background-color: #005383;
    color: #fff;
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}
footer .footer .columns .clmn {
    width: 218px;
    text-align: justify;
    margin-right: 20px;
    padding: 12px;
}

footer .footer .columns .clmn .title {
    font-size: 18px;
    margin-bottom: 15px;
}
footer .container {
    padding: 15px 120px;
}
footer a {
    color: #fff;
}

footer ul {
    padding: 0;
    padding-left: 16px;
    list-style: none;
}

footer ul li:before {
    content: '>';
    margin-left: -15px;
    padding-right: 8px;
}
footer .footer .columns .clmn .social img {
    margin-right: 4px;
    margin-bottom: 20px;
}

footer .footer .columns .clmn .copyright {
    text-align: left;
}
.register-form {
    /*
position: absolute;
    bottom: -65px;
    background: #fff;
    padding: 20px 10px;
    width: 230px;
*/
    display: none;
    z-index: 100;
}

.register {
    position: relative;
/* 		padding: 5px 0px; */
}

header .register input {
    background: #fff;
    color: #000;
    width: 240px;
}

header .register input[type=submit] {
    margin-left: 10px;
}
iframe.video {
    display: none;
}
iframe.video_1 {
    display: block;
}

.video-list {
    width: 460px;
    display: inline-block;
}

section.content-region .video-list .thumbnails img {
    margin-right: 50px;
    margin-top: 20px;
    cursor: pointer;
    display: inline-block;
    float: left;
    width: 120px;
    height: 90px;
}

section.content-region .video-list .thumbnails img:last-child {
    margin-right: 0;
}
.thumbnails {
    overflow: hidden;
    display: none;
}

.easy-pie-chart canvas {
    position: absolute;
    left: 0;
    top: 0;
}

.easy-pie-chart {
    position: relative;
margin: 0 auto;
width: 100px;
}
.info-homepage {
    height: 145px;
background: #fff;
margin: 10px;
}

   .easy-pie-chart span {
position: absolute;
top: 22px;
left: 24px;
font-size: 14px;
text-align: center;
}


.info-homepage .number {
}
.modal h3, .modal .modal-body {
    color: black!important;
}
.control-panel, .logout {
    display: inline-block;
}

.control-panel {
    margin-right: 10px;
}
footer .title{
	font-family: calibri;
	color: #fff;
}
a, a:hover{
	color: #428bca;
	text-decoration: none;
}
section.content-region .columns .container .clmn .title/* , .row.top-header .text-right a */{
	color: #05478a;;
}
a.logo-text,a.logo-text:hover{
	font-family: rockwell;
	/* font-size: 24px; */
	color: #F56000;
}
/*
.top-header .text-right a{
	color: #fff;
}
.text-right control-panel a, div.logout a{
	color: #fff;
}
*/
.col-md-10.text-right, .language-picker {
top: 7px;
}
i.fa.fa-users, i.fa.fa-usd {
font-size: 80px;
position: absolute;
color: #eee;
text-shadow: none;
left: -40px;
top: 10px;
float: left;
}
i.fa.fa-usd{
	width: 46px;
text-align: center;
font-weight: 900;
left:-8px;
}
.block-header .lable, .user-other .lable {
font-size: 16px;
top: 4px;
position: relative;
color: #448bd4;
}
.lables{
	display: inline-block;
	text-align: right;
	float: right;
}
.total-users {
font-size: 34px;
line-height: 26px;
position: relative;
top: 8px;
color: #448bd4;
float: right;
}
.investors, .withdrawals{
display: inline-block;
width: 50%;
position: relative;
text-align: center;
}
.investor-users, .withdrawals {
font-size: 16px;
line-height: 48px;
background-color: #e5e5e5;
}
.user-other .lable {
margin-bottom: 8px;
}

.invested .investors, .invested .withdrawals{
	width: 50%;
display: block;
position: relative;
float: left;
}
.invested .withdrawals{
	border-bottom: none;
}
.invested .investor-users {
border-right: none;
}
.invested.info-homepage {
border-top: 5px solid #05478a;
margin-top: 40px;
}
.social_links a{
width: 20px;
height: 20px;
border-radius: 3px;
text-align: center;
background: #fefefe;
float: left;
display: inline-block;
position: relative;
padding-top: 1px;
right: 2px;
}
span.city {
color: #1e8bc3;
}
.registered.info-homepage {
border-top: 5px solid #448bd4;
}
.investors {
border-right: 1px solid #ccc;
}
.user-other {
color: #848484;
}
.tooltip-inner{
	text-shadow: none;
}
.invested .lable, .invested .total-users {
color: #05478a;
}
#login-register {
/*
background: #ffffff;
border: 1px solid #aaa;
display: block;
z-index: 10;
float: right;
right: 10px;
height: 90px;
width: auto;
padding: 20px;
-webkit-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.1);
-moz-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.1);
box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.1);
*/
}
#login-register {
/*
	position: absolute;
	background: #ffffff;
	border: 1px solid #d8d8d8;
	top: 60px;
	z-index: 1000000;
*/
}
#login-register:after, #login-register:before {
	bottom: 100%;
	right: 15px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#login-register:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 11px;
	margin-left: -11px;
}
#login-register:before {
	border-color: rgba(216, 216, 216, 0);
	border-bottom-color: #d8d8d8;
	border-width: 11px;
	margin-left: -11px;
}
div#show-login {
float: right;
font-size: 20px;
border: 1px solid #aaa;
position: absolute;
top: 16px;
right: 20px;
color: #123456;
z-index: 1000;
cursor: pointer;
height: 30px;
line-height: 23px;
width: 30px;
text-align: center;
padding: 1px 0px;
}
.login-form .input-icon {
float: left;
}
.login-form .form-actions {
float: left;
}
.login-form .register-button {
	
}
.input-icon > .form-control {
border-left: 3px solid #1e8bc3;

}
.input-icon i{
	color:#3d494e;
}
div#errorModal {
background-color: rgb(255, 226, 226);
min-height: 60px;
padding-left: 40px;
padding-top: 20px;
position: relative;
color: rgb(211, 114, 114);
}
#errorModal > span.error-icon > i {
float: left;
padding-top: 7px;
top: -11px;
position: relative;
color: rgb(211, 114, 114);
font-size: 27px;
right: 7px;
margin-left: 60px;
}
span.error-title {
font-weight: 600;
color: rgb(211, 114, 114);
font-size: 16px;
}
.form-signin .input-icon {
float: left;
}
.form-signin .form-actions {
float: right;
}
.form-signin .form-actions input[type=submit]{
	width: 115px;
	margin-right:10px;
}
.form-signin .form-actions input[type=submit]:hover {
	color:#fff;
	background: #1E8BC3;
}
.text .body {
color: #474747;
text-align: justify;
}
section.columns {
	padding: 40px 0px;
	background:#fff;
}
section.columns .col-md-12 {
	background: #fff;
	padding: 20px;
	border:1px solid #d8d8d8;
	line-height: 20px;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle > img{
	float: none;
}
a.dropdown-toggle {
color: #999;
}

div.dropdown.dropdown-user {
float: right;
display: inline-block;
top: 5px;
right: -33px;
font-family: "Roboto";
font-weight: 300;
color: #999;
border: 1px solid #CCC;
padding: 5px 10px;
font-size: 13px;
line-height: 20px;
}
.dropdown-menu{
	left:-63px;
}
.social_links {
position: absolute;
bottom: 5px;
right: 5px;
}
.amcharts-chart-div svg {
-webkit-filter: drop-shadow( 2px 3px 2px rgba(0,0,0,.3) );
filter: drop-shadow( 2px 3px 2px rgba(0,0,0,.3) );
}

.announcements-ticker {
    overflow: hidden;
}

/*       USER MENU       */
#login-register input.form-control:focus {
	border-top:1px solid #9bc4da;
	border-right:1px solid #9bc4da;
	border-bottom:1px solid #9bc4da;
}
.dashboard-user-sliding-menu {
	padding:7px 7px 7px 10px;
	line-height: 20px;
	color:#005383;
	font-family: "Open Sans", sans-serif;
	background: #fff;
	cursor: pointer;
}
.dashboard-user-sliding-menu div.username,
.dashboard-user-sliding-menu a.icon {
	position:relative;
	z-index: 1;
	background:#fff;
}
.dashboard-user-sliding-menu a.icon {
	padding-right:10px;
}
.dashboard-user-sliding-menu i {
	font-size:16px;
	margin: 0 0 0 5px;
	color:#005383;
}

.dashboard-user-slide-menu {
	position:absolute;
	width:0;
	right:0;
	left:100%;
	top:10px;
	overflow: hidden;
	height:20px;
	z-index: 0;
	background:#fff;
	transition:all 0.25s ease-in-out;
}
.dashboard-user-slide-menu.active {
	width:auto;/*100%*/
	right:0;
	left:235px;
	height:40px;
	transition:all 0.25s ease-in-out;
}
.dashboard-user-slide-menu ul {
	margin:0;
	padding:0;
	list-style-type:none;
}
.dashboard-user-slide-menu ul li {
	float:left;
	padding:10px 0;
}
.dashboard-user-slide-menu ul li a {
	font-family: "Open Sans", sans-serif;
	color:#5e5e5e;
	padding:0 10px;
	text-decoration:none;
	border-left:1px solid #e2e2e2;
	line-height: 20px;
}

.dashboard-user-slide-menu ul li a:hover {
	color:#005383;
}
.dashboard-user-slide-menu ul li:last-child {
	margin-right:10px;
}
.dashboard-user-slide-menu ul li:last-child a {
	border-right: 1px solid #e2e2e2;
} 



/*       RULES PAGE       */
section.content-region.content-faq {
	padding:60px 0px 0px;
	background: transparent url("../images/background-video.png") repeat top left;
	font-family: "Roboto", sans-serif;
}
section.content-region.content-faq .page-title {
	margin: 0px 0px 45px 0px;
	color: #1e8bc3;
	font-weight: 300;
	font-size: 26px;
	font-family: "Roboto", sans-serif;
}
section.content-region.content-faq .additional-info {
	color:#474747;
	font-size:14px;
	line-height: 1.42857143;
	margin-bottom:30px;
	font-weight:400;
}
section.content-region.content-faq .step-by-step {
	margin-bottom:40px;
}
section.content-region.content-faq .step {
	font-family: "Roboto", sans-serif;
	padding-bottom:30px;
	background:url("../images/step-bg.png") transparent 43px repeat-y;
}
section.content-region.content-faq .step:last-child {
	background-image:none;
}
section.content-region.content-faq .step .number {
	width:10%;
	padding:0 2%;
	float:left;
}
section.content-region.content-faq .step .step-number {
	color:#777;
	font-size:26px;
	padding: 6px 5px 5px;
	text-align: center;
	border-radius: 50% !important;
	border:1px solid #d8d8d8;
	background:#fff;
	max-width:50px;
	line-height: 1.42857143;
}
section.content-region.content-faq .step .step-content {
	float:left;
	width: 90%;
	position: relative;
	text-align:justify;
	padding:14px 20px;
	color:#05478a;
	background-color: white;
	border: 1px solid #d8d8d8;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
	font-family: "Open Sans", sans-serif;
	font-size:14px;
	font-weight: 300;
}
section.content-region.content-faq .step .step-arrow {
	width: 13px;
  height: 13px;
  position: absolute;
  z-index: 0;
  top: 17px;
  left: -7px;
  border-left: 1px solid #d8d8d8 !important;
  border-bottom: 1px solid #d8d8d8 !important;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  box-shadow: -1px 1px 2px 0px rgba(0, 0, 0, 0.10);
  background: #fff;
}
section.content-region.content-faq .step .step-media {
	float:right;
	width:150px;
	height:120px;
	border:1px solid #d8d8d8;
	background:#f6f6f6;
	margin:6px 0px 6px 20px;
}




/*       NEWS       */
section.content-region.content-news {
	padding:60px 0px 0px;
	background: transparent url("../images/background-video.png") repeat top left;
	font-family: "Roboto", sans-serif;
}
section.content-region.content-news .page-title {
	margin: 0px 0px 45px 0px;
	color: #1e8bc3;
	font-weight: 300;
	font-size: 26px;
	font-family: "Roboto", sans-serif;
}
section.content-region.content-news .news {
	font-family: "Open Sans", sans-serif;
	padding:20px 5px;
	margin-bottom:30px;
	background-color: white;
	border: 1px solid #d8d8d8;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
	position:relative;
}
section.content-region.content-news .news:last-child {
	margin-bottom:15px;
}
section.content-region.content-news .news .news-date { 
	position: absolute;
  top: 0;
  transform: translateY(-50%);
  left: 20px;
  background: #d8d8d8;
  line-height: 1;
  padding: 5px 9px;
	color:#777;	
}
section.content-region.content-news .news .news-title {
	color:#1e8bc3;
	font-size:16px;
	margin-bottom:20px;
	font-weight:300;
}
section.content-region.content-news .news .news-info {
	color:#474747;
}
section.content-region.content-news .news .news-media {
	background-color: #f6f6f6;
	border: 1px solid #d8d8d8;
	min-height:120px;
}
section.content-region.content-news .news-pagination a {
	margin-right:5px;
	background:#fff;
	font-family: "Open Sans", sans-serif;
	font-size:14px;
	border:1px solid #d8d8d8;
	padding:9px 11px 7px;
	line-height: 1;
	color:#474747;
}




/*       ABOUT US       */
section.content-region.content-about-us {
	padding:60px 0px 0px;
	background: transparent url("../images/background-video.png") repeat top left;
	line-height: 20px;
}
section.content-region.content-about-us .page-title {
	margin: 0px 0px 45px 0px;
	color: #474747;
	font-weight: 300;
	font-size: 30px;
	font-family: "Roboto", sans-serif;
	line-height: 20px;
}
section.content-region.content-about-us .info-title {
	font-family: "Open Sans", sans-serif;
	color:#1e8bc3;
	font-size:16px;
	font-weight: 300;
	line-height: 20px;
}
section.content-region.content-about-us .info-content {
	font-family: "Open Sans", sans-serif;
	color:#474747;
	font-size:14px;
}
section.content-region.content-about-us .info-content p {
	margin-bottom: 25px;
	font-weight: 300;
}
section.content-region.content-about-us .question {
	font-family: "Open Sans", sans-serif;
	font-size:18px;
	color:#05478a;
	margin-top:60px;
	margin-bottom:25px;
	
}
section.content-region.content-about-us .sub-text {
	font-family: "Open Sans", sans-serif;
	font-size:14px;
	color:#777;
}
section.content-region.content-about-us img {
	width:100%;
	padding:3px;
	border:1px solid #d8d8d8;
	box-shadow:0px 1px 6px rgba(0,0,0,0.15);
	margin-bottom:20px;
}




/*    */
.login-specific-button,
.register-specific-button {display:none;}
.greeting {display:none;}
/*       Media Queries       */

@media ( min-width:992px) {
	.dashboard-user-slide-menu {left:auto;}
	.dashboard-user-slide-menu.active {left:auto;}
	.dashboard-user-sliding-menu.admin {padding:0;}
	.dashboard-user-sliding-menu.admin .navbar-nav>li>a {
		padding:9px 10px 5px;
	}
	.dashboard-user-sliding-menu.admin .navbar-nav>li>a:focus {
		background:transparent;
	}
	.dashboard-user-sliding-menu.admin .navbar-nav>li.dropdown.open a {
		color:#005383;
		background:transparent;
	}
	.dashboard-user-sliding-menu.admin .navbar-nav>li.dropdown.open ul {
		background:#005383;
		border-color:#fff;
	}
	.dashboard-user-sliding-menu.admin .navbar-nav>li.dropdown.open ul a {
		color:#fff;
	}
}
@media ( max-width:479px ) {
	header .logo-wrapper .blurry {display:none;}
}


@media ( min-width:768px ) {
	header .user-slide-menu > i.fa-user {display:none;}
	header {position:relative;}
	section.columns .col-sm-12 .col-md-12 {border:none;}
}


@media ( min-width:768px ) and ( max-width:991px ) {
	section.columns .col-sm-12 {margin-top:30px;}
	.login-form .register-button {display: none;}
	#login-register {height:auto!important;}
	#login-register div.login-form { 
		position: relative;
		top:0; 
		width: 0;
		overflow: hidden;
		height: 0;
		transition:all 0.256s ease-in-out;
	}
	#login-register div.login-form.active { 
		width: auto;
		overflow: hidden;
		height: 34px;
		transition:all 0.256s ease-in-out;
		right:25px;
	}
	#login-register .register-form { 
		width:0px;
		height:0px;
		overflow-x: hidden;
		display:block;
		transition:all 0.256s ease-in-out;
	}
	#login-register .register-form.active { 
		display:block !important;
		width:auto;
		height:34px;
		transition:all 0.256s ease-in-out;
	}
	.login-specific-button,
	.register-specific-button {
		display:block;
		float:left;
		margin-right:15px;
		line-height: 33px;
		padding:0 10px;
		cursor:pointer;
		color:#fff;
		font-family: "Roboto", sans-serif;
		position:absolute;
	}
	.login-specific-button { background:#1e8bc3; right:145px;}
	.register-specific-button { background: #333; right:0px;}
}


@media ( min-width:768px ) and ( max-width:1199px ) {
	section.site-information .col {
		padding:20px 0 0;
	}
	section.content-region .container {
		padding:0 20px;
	}
	footer .container {
		padding:15px 40px;
	}
	section.content-region .videos .container .video-list .overlay {
		display:none;
	}
	.dashboard-user-slide-menu ul li a {padding:0px 5px;}
}

@media ( max-width:1199px ) {
	::-webkit-scrollbar {
	width:0;
	}
}


@media ( max-width:767px ) {
	header {position:relative;}
	.dashboard-user-slide-menu {
		position:absolute;
		top:60px;
		right:0;
		width:0px;
		height:0%;
		overflow: hidden;
		background: #005383;
		transition:all 0.256s ease-in-out;
	}
	.dashboard-user-slide-menu.active {
		right:0;
		left:auto;
		width:auto;
		height:100%;
		overflow: auto;
		transition:all 0.256s ease-in-out;
	}
	.dashboard-user-slide-menu.active ul {
		padding-top:50px;
	}
	.dashboard-user-slide-menu.active ul li {
		float:none;
		padding:0px;
		border-top:1px solid #136999;
		border-left:0px;
		border-right:0px;
	}
	.dashboard-user-slide-menu.active ul li:last-child {
		border-bottom:1px solid #136999;
		margin:0; 
	}
	.dashboard-user-slide-menu.active ul li:hover {
		background: #086193;
	}
	.dashboard-user-slide-menu.active ul li a {
		border: 0;
		padding: 10px 20px 10px 30px;
		display: block;
		width: 100%;
		color: #fff;
		font-size: 14px;
	}
	.dashboard-user-sliding-menu {padding:7px 7px 7px 10px;}
	.username + a.icon {display:none;}
	span.greetings {display:none;}
	span.greeting {display:inline;}
	strong.last_name {display:none;}
	section.columns .col-xs-12 { margin-bottom: 20px; }
	section.site-information {height:0; overflow-y: hidden;}
 	section.videos + section.site-information {height:auto;} 
 	section.videos .text .body {margin-bottom:15px;}
	section.content-region .videos .container .video-list .overlay {
		display:none;
	}
	/*section.map-region {display:none;} */
	.sidebar-menu {
		top:0;
		left:-300px;
		width: auto;
		height:100%;
	}
	.sidebar-menu.active {
		left:0px;
	}
	.sidebar-menu .sidebar-elements {
		padding:50px 0px 0px 0px;
		margin:0;
	}
	.sidebar-menu .sidebar-elements li {
		float:none;
		display: block;
		padding:0;
		border-left:0;
		border-right:0;
		border-top:1px solid #136999;
	}
	.sidebar-menu .sidebar-elements li:last-child {
		border-bottom:1px solid #136999;
	}
	.sidebar-menu .sidebar-elements li a {
		display:block;
		width:100%;
		padding:10px 30px 10px 20px;
	}
	header .user-slide-menu > i.fa-user {
		margin-right:25px;
		font-size:32px;
		color:#9E9E9E;
		cursor:pointer;
	}
	header .user-slide-menu > i.fa-user.active {
		color:#005383;
	}
	header #login-register .login-form,
	header #login-register .login-form .input-icon,
	header #login-register .login-form .form-actions,
	header #login-register .register,
	header #login-register .register .input-icon,
	header #login-register .register .form-actions ,
	header #login-register .register-form,
	header #login-register .register-form .input-icon,
	header #login-register .register-form .form-actions  {
		float:none;
		width:100%;
	}
	header #login-register {
		position:absolute;
		top:60px;
		right:0;
		width:0;/*auto*/
		padding: 0;/* 50px 20px 0px */
		background: #005383;
		overflow: hidden;
		transition: all 0.256s ease-in-out;
	}
	header #login-register.active {
		right:0;
		transition:all 0.256s ease-in-out;
		z-index: 5;
		width:auto;
		padding:50px 20px 0;
	}
	header #login-register .login-form input,
	header #login-register .register input ,
	header #login-register .register-form input { 
		margin:0 0 15px 0;
		width:100%;
		font-size:12px;
		line-height: 1.42857143;
	}
	header #login-register .login-form .input-icon input,
	header #login-register .register .input-icon input ,
	header #login-register .register-form .input-icon input {
			padding: 6px 12px 6px 33px;
	}
	header .logo-wrapper {
		width:auto;
	}
	header .logo-wrapper .sidebar-menu-button {
		margin:3px 25px 0;
	}
	.login-specific-button {display:none;}
	.register-specific-button {display:none;}
	footer .container {		padding:15px 40px;	}
	section.content-region .container { padding:0 25px;}
	section.site-information .col {padding:20px 0 10px;}
}

.site-information-header {
    height: 50px;
    background-color: #666666;
    text-align: center;
    color: #ffffff;
    line-height: 50px;
    font-size: 14px;
}

.site-moto {
    padding: 75px 0;
    border-bottom: 1px solid #eee;
    background-color: #fbfbfb;
    color: #777777;
    font-size: 18px;
    text-align: center;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.moto-head {
    font-size: 30px;
    color: #474747;
    display: block;
    margin-bottom: 35px;
}

.trial {
    text-align: center;
    height: 382px;
    background: url("../images/trial.jpg") no-repeat center;
    background-size: cover;
    padding-top: 70px;
}

.trial h2 {
    font-size: 30px;
    color: #61bfef;
}

.trial div {
    margin-top: 75px;
}

.trial a,
.trial a:hover,
.trial a:visited {
    color: #ffffff;
    padding: 20px 35px;
    border: 3px solid #ffffff;
    font-size: 23px;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
}

.how-it-works {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    background-color: #e8fafc;
    padding-top: 50px;
    padding-bottom: 110px;
}

.how-it-works h2 {
    font-size: 30px;
    color: #45494c;
    text-align: center;
    margin-bottom: 60px;
}

.how-it-works h3 {
    color: #005383;
    font-size: 18px;
    margin-top: 15px;
    border-bottom: 1px solid #cadae4;
    line-height: 34px;
    text-indent: 10px;
}

.how-it-works .text {
    padding-left: 110px;
}

.circle-blue {
    float: left;
    background-color: #005383;
    border: 1px solid #005383;
    width: 100px;
    height: 100px;
}

.circle-white {
    float: left;
    background-color: #ffffff;
    border: 1px solid #cadae4;
    width: 100px;
    height: 100px;
}

.no-side-padding {
    padding-left: 0;
    padding-right: 0;
}

.announcements-section {
    border-bottom: 1px solid #eeeeee;
    background-color: #ffffff;
}

.info-button {
    color: #005383;
    font-size: 18px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    border: 1px solid #eeeeee;
    height: 60px;
    line-height: 60px;
    text-indent: 10px;
    cursor: pointer;
    vertical-align: top;
}

.info-button i {
    font-size: 36px;
    margin-right: 5px;
    vertical-align: top;
    color: #c6c6c6;
}

.info-button-active {
    border-color: #ff7d1a;
    background-color: #ff7d1a;
    color: #ffffff;
}

.info-button-active i {
    color: #ffffff;
}

.info-text {
    display: none;
    margin-top: 60px;
}

.info-text p {
    margin-bottom: 30px;
}

.info-text .image {
    text-align: center;
    vertical-align: middle;
}

.info-text .image i {
    font-size: 220px;
    color: #ababab;
    display: block;
    margin-top: -20px;
}

.info-text-active {
    display: block;
}

.info-text h3 {
    color: #005383;
    font-size: 18px;
    margin-bottom: 20px;
}

.img-circle {
    text-align: center;
    vertical-align: middle;
    line-height: 94px;
    font-size: 40px;
}

.img-circle i {
    color: #005383;
}
.circle-blue i {
    color: #ffffff;
}